<html>
  <style>
    nav {
      background-color: #2a6f97;
      padding: 15px 30px;
      display: flex;
      justify-content: center;
      gap: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    nav a {
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: #cce3f2;
    }
  </style>
	<body>
    <nav>
    <a href="/">Главная</a>
    <a href="https://frontend-plants.vercel.app/">Страница растений</a>
    <a href="/addnew">Добавление нового растения</a>
    <a href="/contact">Контакты</a>
  </nav>
    <div>
      <h1>О приложение</h1>
      <p>Данное веб-приложение предоставляет информацию о дикорастущих растениях Республики Таджикистан. Пользователи могут просматривать список растений, узнавать о местах их произрастания, химическом составе и принадлежности к семействам. Приложение создано для исследователей, студентов и всех интересующихся флорой региона.
Система состоит из серверной части, разработанной на Node.js, и клиентской части на Vue.js. Вся информация хранится в базе данных и предоставляется через REST API.</p>
  </body>
</html>